@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-display: fallback;
    font-family: Lato, sans-serif;
    line-height: 1.6;
    margin: 0;
    width: 100%;
}

body > header, main {
    box-sizing: border-box;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

body > header {
    background: #f4f6f6;
    margin-bottom: 0px;
    padding-top: 1em;
    width: 100%;
}

h1 {
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: normal;
}

h2 {
    color: #777;
    font-size: 2em;
    font-weight: normal;
    margin-top: 0;
}

main {
    padding-top: 0;
    width: 100%;
}

h3 {
    color: #4078c0;
    font-size: 1.5em;
    margin-bottom: 0.75em;
    margin-top: 1.5em;
}

h4 {
    margin-bottom: 0;
    margin-top: 1em;
}

h5 {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0.75em;
}

a, a:visited {
    color: #4078c0;
}

main > section {
    width: 100%;
}

section ul {
    margin-bottom: 0;
    margin-top: 0.25em;
    padding-left: 1.25em;
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact dl {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#contact dl div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#contact dl dt {
    width: 100px;
}

#contact dl dd {
    margin-left: 0;
}

#skills > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1em;
}

#skills > div section {
    margin-right: 0.5em;
}

#primary-skills, #secondary-skills {
    margin-top: 1em;
}

.work-entry, .education-entry {
    margin-bottom: 2.5em;
    margin-top: 0.5em;
}

#work header, #education header {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

#work header h4, #education header h4 {
    margin-top: 0;
}

#work header span, #education header span {
    font-weight: bold;
}

p {
    margin: 0;
}

p + p {
    margin-top: 0.5em;
}

.line {
    display: none;
}

@media (min-width: 380px) {
    #work header, #education header {
        flex-direction: row;
    }
    
    .line {
        border-bottom: 1px solid #bbb;
        display: inherit;
        flex-grow: 1;
        height: 0.8em;
        margin: 0 0.5em;
    }
}

@media (min-width: 760px) {
    body > header {
        align-content: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    main > section, body > header h1, body > header h2 {
        margin: auto;
        width: 700px;
    }

    #skills > div {
        justify-content: start;
    }

    #skills > div section {
        width: 250px;
    }
}

@media not print {
    .print-only {
        display: none !important;
    }
}

@media print {
    .no-print {
        display: none !important;
    }

    html {
        line-height: 1.5;
        padding: 0 2em;
    }

    body > header {
        padding-bottom: 0;
        padding-top: 0.5em;
    }

    h1, h2 {
        margin: 0;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        border-bottom: 1px solid #4078c0;
        margin-bottom: 0.25em;
        margin-top: 0.9em;
    }

    h5 {
        margin-top: 0.5em;
    }

    main {
        padding-top: 0;
    }

    #contact {
        font-size: 1.2em;
        position: absolute;
        right: 2em;
        top: 0.9em;
        width: auto;
    }

    #contact h3 {
        display: none;
    }

    #contact dt {
        font-weight: bold;
    }

    #skills > div {
        justify-content: start;
    }

    #skills > div section {
        width: 250px;
    }

    #work header, #education header {
        justify-content: space-between;
    }

    a, a:visited {
        color: black;
        text-decoration: none;
    }

    .line {
        display: none;
    }

    .work-entry, .education-entry {
        margin-bottom: 1em;
    }

    .work-entry + .work-entry, .education-entry + .education-entry {
        border-top: 1px solid #999;
        padding-top: 1em;
    }
}